<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/layouts.css">
  <title>Admin</title>
</head>

<body>
  <div class="admin-container">
    <header>메인</header>
    <nav>
      <ul class="nav-menu">
        <li class="nav-menu_item actived"><a href="index.html">메인</a></li>
        <li class="nav-menu_item"><a href="ad-new.html">광고등록</a></li>
        <li class="nav-menu_item"><a href="ad-list.html">광고등록내역</a></li>
        <li class="nav-menu_item"><a href="worker.html">인부정보</a></li>
        <li class="nav-menu_item"><a href="sales.html">영업내역</a></li>
      </ul>
    </nav>
    <main>
      <h1>메인</h1>
      <p>메인 페이지입니다.</p>
    </main>
  </div>
</body>

</html>