<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../../../시관짱/styles/layouts.css">
  <link rel="stylesheet" href="../../../../../시관짱/styles/common.css">
  <link rel="stylesheet" href="../../../../../시관짱/styles/variable.css">
  <link rel="stylesheet" href="../../../../../시관짱/styles/components.css">
  <title>인부 정보</title>
</head>

<body>
  <div class="admin-container">
    <header>관리자 페이지에 오신 것을 환영합니다.</header>
    <nav>
      <ul class="nav-menu">
        <li class="nav-menu_item"><a href="ad-new.html">광고등록</a></li>
        <li class="nav-menu_item"><a href="ad-list.html">광고등록내역</a></li>
        <li class="nav-menu_item actived"><a href="worker.html">인부정보</a></li>
        <li class="nav-menu_item"><a href="sales.html">영업내역</a></li>
      </ul>
    </nav>
    <main>
      <h1>인부 정보</h1>
      <div class="card">
        <table>
          <thead>
            <tr>
              <th>번호</th>
              <th>이름</th>
              <th>나이</th>
              <th>계좌번호</th>
              <th>이수증여부</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>홍길동</td>
              <td>32</td>
              <td>0000-00-0000000</td>
              <td>O</td>
            </tr>
            <tr>
              <td>1</td>
              <td>홍길동</td>
              <td>32</td>
              <td>0000-00-0000000</td>
              <td>X</td>
            </tr>
            <tr>
              <td>1</td>
              <td>홍길동</td>
              <td>32</td>
              <td>0000-00-0000000</td>
              <td>O</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</body>

</html>